{{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error}}
  <div class="alert alert-danger">{{error}}</div> <!-- For passport's error -->
{{/if}}


<h2>User Login</h2>
<form action="/auth/login" method="POST">
    <label>Username</label>
    <input type="text" name="username" required>
    
    <label>Password</label>
    <input type="password" name="password" required>
    
    <button type="submit">Login</button>
</form>
<a href="/auth/register">Create an Account</a>
