<div class="container">
    <div class="row mt-5">
        <h4 class="text-center text-secondary">Add Item</h4>
        <div class="card mt-5">
            <div class="card-body p-5">
                <form action="/admin/add-member" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="batch" class="form-label">Batch</label>
                        <input type="text" class="form-control" id="batch" name="batch" required>
                    </div>
                    <div class="mb-3">
                        <label for="skills" class="form-label">Skills (comma-separated)</label>
                        <input type="text" class="form-control" id="skills" name="skills" required>
                    </div>
                    <div class="mb-3">
                        <label for="tokenNumber" class="form-label">Token Number</label>
                        <input type="text" class="form-control" id="tokenNumber" name="tokenNumber" required>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">Upload Image</label>
                        <input class="form-control" type="file" id="img" name="img" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Member</button>
                </form>
            </div>
        </div>
    </div>
</div>