<link rel='stylesheet' href='/stylesheets/adminStyle.css' />
<style>
    .card{
        cursor: pointer;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <h4 class="mb-3">View Users</h4>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
                <div class="balance">
                    <h3>$10,000</h3>
                    <p>Remaining Balance</p>
                </div>
                <div class="recent-bidds">
                    <p class="text-center px-2">Recent Bidds</p>
                    <ul class="bidd-list ps-3">
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!----->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
                <div class="balance">
                    <h3>$10,000</h3>
                    <p>Remaining Balance</p>
                </div>
                <div class="recent-bidds">
                    <p class="text-center px-2">Recent Bidds</p>
                    <ul class="bidd-list ps-3">
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!----->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
                <div class="balance">
                    <h3>$10,000</h3>
                    <p>Remaining Balance</p>
                </div>
                <div class="recent-bidds">
                    <p class="text-center px-2">Recent Bidds</p>
                    <ul class="bidd-list ps-3">
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!----->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
                <div class="balance">
                    <h3>$10,000</h3>
                    <p>Remaining Balance</p>
                </div>
                <div class="recent-bidds">
                    <p class="text-center px-2">Recent Bidds</p>
                    <ul class="bidd-list ps-3">
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                        <li class="bidd-item">
                            <img class="rounded-circle border border-2 border-light"
                                src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!----->
    </div>
</div>