<div class="container mt-5">
    <div class="row">
        {{#each members}}
        <div class="col-md-3 mb-4">
            <div class="card p-3">
                <div class="card-body pb-0">
                    <img src="/{{this.image}}" alt="Profile Image" class="mb-3" height="70" width="70">
                    <p class="mb-1 fw-bold">{{this.name}}</p>
                    <span class="text-muted">{{this.batch}}</span>
                    <div class="skills mt-2">
                        <p>{{this.skill}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>